# Dataset mentah - ukuran terlalu besar
data/raw/

# Data processed (opsional, hapus baris ini kalau mau ikut)
data/processed/

# model/plant_model.pth

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment
.env
venv/
env/